//comman variables
$background-repeat: no-repeat;
$background-size: cover;
$overflow: scroll;
$text-align:center;

// logo
$logo-Height:100px;
$logo-Width:100px;

//carousel
$carou-Height:400px;

// Main Body
//1-> container
$cont-Bg-Img: url("https://cdn2.hubspot.net/hubfs/202339/canvas/images/parallax/Website-Design-Background.png");

//2.1->blog div
$blog-Height:530px;
$blog-Width:66.66%;
$blog-Padding-Right:30px;

//2.2->aside div
$asideWidth:33.33%;

//category and tag content
$ca-Tag-Font-Weight:bold;
$cat-Tag-BgColor:white;
$cat-tag-margin:5px;

//footer
$footer-BgColor: #515058 !important;
$footer-anchor-Color: #ffffff;
$footer-anchor-BgColor:transparent;
$footer-social-icon-right-margin:5px;
$footer-social-icon-size:25px;
$footer-text-size:30px;
$footer-text-top-margin:-10px;




